{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' || link.url == null %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}

            {% if link.subcategories != null %}
              <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ link.title }}<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                  {% for subcategory in link.subcategories %}
                    <li><a href="{{ domain }}{{ subcategory.suburl }}">{{ subcategory.subtitle }}</a></li>
                  {% endfor %}
                  </ul>
              </li>
            {% else %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}

          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
